<div id="header-wrap">
  <table id="header">
    <tr>
      <td id="logo">
        <span class="wsite-logo">
          <a href="/">
            <span id="wsite-title">MIDAS</span>
          </a>
        </span>
      </td>

      <td class="nav">
        <ul class="wsite-menu-default">
          <li class="wsite-menu-item-wrap" >
            <a href="/intro" class="wsite-menu-item" >Intro</a>
          </li>
          {{#if login }}
            {{#if admin}}
              <li id="active" class="wsite-menu-item-wrap" >
                <a href="/admin/admin" class="wsite-menu-item" >Admin</a>
              </li>
                <li class="wsite-menu-item-wrap" >
                <a href="/admin/overview" class="wsite-menu-item" >Overview</a>
              </li>
            {{/if}}
            <li class="wsite-menu-item-wrap" >
              <a href="/user/account" class="wsite-menu-item" >Account</a>
            </li>
            <li class="wsite-menu-item-wrap" >
              <a href="/user/logout" class="wsite-menu-item" >Logout</a>
            </li>
          {{else}}
            <li class="wsite-menu-item-wrap" >
              <a href="/user/signup" class="wsite-menu-item" >Sign up</a>
            </li>
            <li class="wsite-menu-item-wrap" >
              <a href="/user/entervault" class="wsite-menu-item" >Enter Vault</a>
            </li>
          {{/if}}
          <li class="wsite-menu-item-wrap" >
            <a href="/blog" class="wsite-menu-item" >Blog</a>
          </li>
          <li class="wsite-menu-item-wrap" >
            <a href="/contact/message" class="wsite-menu-item" >Contact</a>
          </li>
        </ul>
      </td>


      <td class="search">${{goldData}}/oz</td>
    </tr>
  </table>
</div><!-- end header-wrap -->

<div class='m-nav' id='m-nav' >
  <div class='m-nav-positioning'>
    <a href="/intro" class="m-nav-button" >Intro</a>
    {{# if login }}
      {{#if admin}}
        <a class='m-nav-button' href='/admin/overview' >Overview (admin)</a>
      {{/if}}
      <a class='m-nav-button' href='/user/account' >Account</a>
      <a class='m-nav-button' href='/user/logout' >Logout</a>
    {{ else }}
      <a class='m-nav-button' href='/user/entervault' >Enter Vault</a>
      <a class='m-nav-button' href='/user/signup' >Sign Up</a>
    {{/if}}
    <a href="/blog" class="m-nav-button" >Blog</a>
    <a href="/contact" class="m-nav-button" >Contact</a>
  </div>
</div>




    <div id='main-wrap'>
      <div class='container'>
<h1 class='single-header cart-header' >{{title}}</h1>
<form name="deposit-form" id="deposit-form" method="post" action="/admin/deposit" style="width: 245px; left: 50%; position: relative; transform: translateX(-50%);">

  <input class="myTextarea" type="text" name="depositAmount" id="depositAmount" placeholder="Deposit Amount in Dollars" maxlength="50" size="25" style="background-color:#FDFDFE; border:1px solid #DDA92E;font-family:'Quattrocento', serif; font-size: 16px; color: rgb(147, 112, 31); padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px;">

  <input class="myTextarea" name="email" id="email" placeholder="Email of deposit account" maxlength="50" style="background-color:#FDFDFE; border:1px solid #DDA92E; font-family:'Quattrocento', serif; font-size: 16px; color: rgb(147, 112, 31); padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; line-height: 1.3em; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;"></input>

  <input class="myTextarea" name="date" id="date" placeholder="Date, e.g. 2017-01-29" maxlength="50" style="background-color:#FDFDFE; border:1px solid #DDA92E; font-family:'Quattrocento', serif; font-size: 16px; color: rgb(147, 112, 31); padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; line-height: 1.3em; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;"></input>

  <textarea class="myTextarea" name="note" id="note" placeholder="Deposit note" maxlength="250" cols="27" style="background-color:#FDFDFE; border:1px solid #DDA92E; font-family:'Quattrocento', serif; font-size: 16px; color: rgb(147, 112, 31); padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; line-height: 1.3em; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;"></textarea>

  <input type="submit" name="submit" id="submit" value="Send" style="border: 0px none; color: #F3E0B3; cursor: pointer; background-color: #93701F; font-family:'Quattrocento', serif; line-height: 1.3em; font-size: 18px; padding: 5px; top: 0px;">

  <input type='hidden' name='_csrf' value='{{ csrfToken }}'>

<p id='success-div'>Your message was sent!</p>
</form>