<h1 class='single-header cart-header' >{{title}}</h1>
{{#each accounts}}
	<p><strong>Name: </strong>{{this.meta.name}}</p>
	<p><strong>Type: </strong>{{this.type}}</p>
	<p><strong>Available Balance: </strong>${{this.balance.available}}</p>
	<p><strong>Current Balance: </strong>${{this.balance.current}}</p>
{{/each}}
<h1 class='single-header cart-header' >Transactions</h2>
{{#each transactions}}
	<h3 class='account-purchase' >Purchase</h3>
	<p><strong>Amount: </strong>${{this.amount}}</p>
	<p><strong>Name: </strong>{{this.name}}</p>
	<p><strong>Date: </strong>{{this.date}}</p>
	<p><strong>Category: </strong>{{#each this.category}}{{this}}, {{/each}}</p>
	<p><strong>Address: </strong>{{this.meta.location.address}}</p>
	<p><strong>City: </strong>{{this.meta.location.city}}</p>
	<p><strong>State: </strong>{{this.meta.location.state}}</p>
	<p><strong>Zip: </strong>{{this.meta.location.zip}}</p>
{{/each}}