<div id='main-wrap'>
  <h1 class='single-header cart-header'>{{title}}</h1>

  {{#if accounts}}
  {{#each accounts}}
  <p><strong>Name: </strong>{{this.name}}</p>
  <p><strong>Balance: </strong>{{this.balance.current}} Ounces</p>
  {{/each}}


  <h2 class='single-header cart-header'>Account Ledger</h2>

  <table style="width:1050px; align:center;">
    <tr>
      <th>Date<br></th>
      <th>Name<br></th>
      <th>Amount in Dollars<br></th>
      <th>Amount in Gold Ounces</br></th>
    </tr>

    {{#each transactions}}
    <tr>
      <td>{{#if this.date}}{{this.date}}{{/if}}</td>
      <td>{{#if this.name}}{{this.name}}{{/if}}</td>
      <td>{{#if this.amountUsd}}{{this.amountUsd}}{{/if}}</td>
      <td>{{#if this.amountGoldOunces}}{{this.amountGoldOunces}}{{/if}}</td>
    </tr>
    {{/each}}
  </table>

  {{else}}
  <h2>It appears you haven't made an account with us yet. Please contact us to see about possibly creating
    one.</h2>

  <a href='/contact/message'> Visit the Contact Page </a>
  {{/if}}
</div>