<div id="header-wrap">
  <table id="header">
    <tr>
      <td id="logo">
        <span class="wsite-logo">
          <a href="/">
            <span id="wsite-title">MIDAS</span>
          </a>
        </span>
      </td>

      <td class="nav">
        <ul class="wsite-menu-default">
          <li class="wsite-menu-item-wrap" >
            <a href="/intro" class="wsite-menu-item" >Intro</a>
          </li>
          {{#if login }}
            {{#if admin}}
              <li class="wsite-menu-item-wrap" >
                <a href="/admin/admin" class="wsite-menu-item" >Admin</a>
              </li>
            {{/if}}
            <li id="active" class="wsite-menu-item-wrap" >
              <a href="/user/account" class="wsite-menu-item" >Account</a>
            </li>
            <li class="wsite-menu-item-wrap" >
              <a href="/user/logout" class="wsite-menu-item" >Logout</a>
            </li>
          {{else}}
            <li class="wsite-menu-item-wrap" >
              <a href="/user/signup" class="wsite-menu-item" >Sign up</a>
            </li>
            <li class="wsite-menu-item-wrap" >
              <a href="/user/entervault" class="wsite-menu-item" >Enter Vault</a>
            </li>
          {{/if}}
          <li class="wsite-menu-item-wrap" >
            <a href="/blog" class="wsite-menu-item" >Blog</a>
          </li>
          <li class="wsite-menu-item-wrap" >
            <a href="/contact/message" class="wsite-menu-item" >Contact</a>
          </li>
        </ul>
      </td>

      <!--mobile nav bars -->
      <td>
        <button class='m-nav-bars' id='m-nav-bars'>
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
      </td>

      <td class="search">${{goldData}}/oz</td>
    </tr>
  </table>
</div><!-- end header-wrap -->

<div class='m-nav' id='m-nav' >
  <div class='m-nav-positioning'>
    <a href="/intro" class="m-nav-button" >Intro</a>
    {{# if login }}
      {{#if admin}}
        <a class='m-nav-button' href='/admin/overview' >Overview (admin)</a>
      {{/if}}
      <a class='m-nav-button' href='/user/account' >Account</a>
      <a class='m-nav-button' href='/user/logout' >Logout</a>
    {{ else }}
      <a class='m-nav-button' href='/user/entervault' >Enter Vault</a>
      <a class='m-nav-button' href='/user/signup' >Sign Up</a>
    {{/if}}
    <a href="/blog" class="m-nav-button" >Blog</a>
    <a href="/contact" class="m-nav-button" >Contact</a>
  </div>
</div>




    <div id='main-wrap'>
      <div class='container'>
<h1 class='single-header cart-header' >{{title}}</h1>

<form action="/admin/ounceConversion" method="post">
  <select name="selector">
    <option value="0" name="ounces" {{unitObj.ounces}} >Ounces</option>
    <option value="1" name="thousandths" {{unitObj.milliounces}} >Thousandths of Ounces</option>
    <option value="2" name="grams" {{unitObj.grams}} >Grams</option>
  </select>
  <input type="submit">
  <input type='hidden' name='_csrf' value='{{ csrfToken }}'>
</form>
{{#if accounts}}
  {{#each accounts}}
    <p><strong>Name: </strong>{{this.meta.name}}</p>
    <p><strong>Type: </strong>{{this.type}}</p>
    {{#if ../isAdmin}}
      <p><strong>Available Balance: </strong>${{this.balance.available}}</p>
      <p><strong>Current Balance: </strong>${{this.balance.current}}</p>
    {{/if}}
  {{/each}}
  <p><strong>Balance: </strong>{{balanceInOunces}} {{units}}</p>
  <h1 class='single-header cart-header' >Transactions</h2>
  {{#each transactions}}
    <h3 class='account-purchase' >Transaction</h3>
    <p><strong>Amount: </strong>${{this.amount}}</p>
    {{#if this.amountInOunces}}
      <p><strong>Amount in {{../units}}: </strong>{{this.amountInOunces}}</p>
    {{/if}}
    {{#if this.balanceAfterTransaction}}
      <p><strong>Balance After Transaction: </strong>{{this.balanceAfterTransaction}} {{../units}}</p>
    {{/if}}
    {{#if this.name}}
      <p><strong>Name: </strong>{{this.name}}</p>
    {{/if}}
    {{#if this.date}}
      <p><strong>Date: </strong>{{this.date}}</p>
    {{/if}}
    {{#if this.category}}
      <p><strong>Category: </strong>{{#each this.category}}{{this}}, {{/each}}</p>
    {{/if}}
    {{#if this.meta.location.address}}
      <p><strong>Address: </strong>{{this.meta.location.address}}</p>
    {{/if}}
    {{#if this.meta.location.city}}
      <p><strong>City: </strong>{{this.meta.location.city}}</p>
    {{/if}}
    {{#if this.meta.location.state}}
      <p><strong>State: </strong>{{this.meta.location.state}}</p>
    {{/if}}
    {{#if this.meta.location.zip}}
      <p><strong>Zip: </strong>{{this.meta.location.zip}}</p>
    {{/if}}
  {{/each}}
{{else}}
  <h2>It appears you haven't made an account with us yet. Please contact us to see about possibly creating one.</h2>	<p>
  <a href='/contact/message' > Visit the Contact Page </a>
{{/if}}